.footer{
    background-color: #222f3e;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons{
    color: white;
}

.logo-follow{
    margin: 0 30px;
}
.logo-follow a{
    margin: 0 13px;
    text-decoration: none;
    color: white;
}
.logo-follow img{
    background-color: #222f3e;
}

/* responsive */
@media screen and (max-width: 700px){
    .footer{
        flex-direction: column;
        height: 100%;
    }
    .logo-follow{
        margin: 30px 13px;
    }
}